:root{
    --color1: #7b87a4 ;
    --color2: #94a0bb ;
    --color3: #acb8d2 ;
    --color4: #c5d1e8;
    --color5:  #dde9ff ;
}
form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #dde9ff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
  }
  
  input[type="submit"] {
	background-color: #94a0bb;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #7b87a4;
  }
  