<header>
  <img src="" alt="">
</header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <h2>Bem-vindo à Home Help</h2>
  <img src="logo.jpeg" alt="logo">
  <p>Aqui você encontrará muitos tipos de ajuda e servição à sua disposição.</p>
  <p>A HomeHelp é uma plataforma para prestadores de serviço oferecerem seus trabalhos e para contratantes interessados
    em contratar tais serviços.
    A HomeHelp é a primeira plataforma de serviço que com uma visão geral de vários prestadores de serviço em varia
    áreas.
  </p>
  <p>Pesquise logo a baixo o que preocura </p>

  <form action="#" method="get">
    <input type="text" name="search" [(ngModel)]="searchItem" placeholder="Pesquisar">
    <button type="button" class="btn btn-info" style="color:#fff" (click)="goToSearch()">Pesquisar</button>
  </form>
</main>
<footer>
  <div class="contact-info">
    <p><i class="fa fa-envelope"></i> homehelpservices@gmail.com</p>
    <p><i class="fa fa-phone"></i> +55 4002-8922</p>
  </div>
</footer>