<aside id="sidebar" class="sidebar" *ngIf="authService.userData as user">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="cadastro-funcionario">
        <i class="bi bi-grid"></i> <span>Trabalhe Conosco</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-funcionario">
        <i class="bi bi-grid"></i> <span>Colaboradores</span>
      </a>
    </li>
    <!---<li class="nav-item">
      <a class="nav-link" routerLink="contratar-funcionario">
        <i class="bi bi-grid"></i> <span>Contratar Funcionários</span>
      </a>
    </li>
  </ul>
</aside> -->
