<main id="main" class="main">
  <div class="pagetitle d-flex">
    <h1>TORNA-SE UM COLABORADOR!!</h1>
  </div>
  <section class="section">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Novo Funcionario</h5>
          <div class="row m-2">
            <form novalidate #formResilicao="ngForm" style="display: contents" (ngSubmit)="cadastrar()">
              <div class="col-12 mb-3" style="padding: 0">
                <div class="text-left mb-1">
                  <h5>Dados do Usuário</h5>
                </div>
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Nome</label>
                    <div>
                      <input [(ngModel)]="funcionario.nome" #nome="ngModel" id="nome" type="text" name="nome"
                        placeholder="Nome (requerido)" />
                    </div>
                  </div>

                  <div class="form-group col-3">
                    <label class="form-label">E-mail</label>
                    <div>
                      <input [(ngModel)]="funcionario.email" #email="ngModel" id="email" name="email" type="email"
                        placeholder="e-mail (requerido)" />
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label class="form-label">Telefone</label>
                    <div>
                      <input [(ngModel)]="funcionario.telefone" #telefone="ngModel" id="telefone" type="text"
                        placeholder="Telefone (requerido)" mask="(00) 00000-0000" name="telefone" />
                    </div>
                  </div>

                  <div class="form-group col-3">
                    <label class="form-label">Área Desejada</label>
                    <div>
                      <select [(ngModel)]="funcionario.areaDesejada" #areaDesejada="ngModel" id="area" name="area">
                        <option value="Faxineira">Faxineira(o)</option>
                        <option value="Cuidadora">Cuidador(a)</option>
                        <option value="Diarista">Diarista</option>
                        <option value="Baba">Baba</option>
                        <option value="Biscate">Biscate</option>
                        <option value="Fisioterapeuta">Fisioterapeuta</option>
                        <option value="Dentista">Dentista</option>
                        <option value="Analista">Analista</option>
                        <option value="Enfermeira">Enfermeira</option>
                        <option value="Eletricista">Eletricista</option>
                        <option value="Pedreiro">Pedreiro</option>
                        <option value="Professor Particular">Professor Particular</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label class="form-label">CPF</label>
                    <div>
                      <input [(ngModel)]="funcionario.cpf" mask="000.000.000-00" #cpf="ngModel" id="cpf" type="text" name="cpf"
                        placeholder="CPF (requerido)" />
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label class="form-label">Valor</label>
                    <div>
                      <input [(ngModel)]="funcionario.valor" #valor="ngModel" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" name="valor" id="valor" type="text"
                        placeholder="Valor (requerido)" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label class="form-label">Cidade</label>
                    <div>
                      <input [(ngModel)]="funcionario.cidade" #cidade="ngModel" name="Cidade" id="cidade"
                        type="text" placeholder="Cidade (requerido)" />
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label class="form-label">Descrição</label>
                    <div>
                      <textarea id="descricao" [(ngModel)]="funcionario.descricao" #descricao="ngModel"
                        name="descricao"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" style="
                  display: flex;
                  gap: 1rem;
                  align-items: baseline;
                  justify-content: end;
                ">
                <a class="btn btn-info" style="color: #fff" [routerLink]="['/']">Voltar</a>
                <button style="max-width: 10rem" class="btn btn-primary" [disabled]="formResilicao.form.invalid"
                  type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<!-- <form>
	<label for="nome">Nome:</label>
	<input type="text" id="nome" name="nome" required>

	<label for="gmail">Gmail:</label>
	<input type="email" id="gmail" name="gmail" required>

	<label for="telefone">Telefone:</label>
	<input type="tel" id="telefone" name="telefone" required>

	<label for="senha">Senha:</label>
	<input type="password" id="senha" name="senha" required>

	<label for="descricao">Descrição:</label>
	<textarea id="descricao" name="descricao"></textarea>

	<label for="area">Área de Trabalho:</label>
	<select id="area" name="area">
		<option value="TI">Tecnologia da Informação</option>
		<option value="RH">Recursos Humanos</option>
		<option value="ADM">Administração</option>
		<option value="FIN">Finanças</option>
		<option value="MK">Marketing</option>
	</select>

	<input type="submit" value="Cadastrar">
</form> -->
<footer>
  <div class="contact-info">
    <p><i class="fa fa-envelope"></i> homehelpservices@gmail.com</p>
    <p><i class="fa fa-phone"></i> +55 16897-9866</p>
  </div>
</footer>

